@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    padding-right: 0 !important;
    overflow: auto !important;
  }
}

:root {
  --background: #191f2d;
  --foreground: #ededed;

  --primary-color: #ff4187;

  --main-text-color: white;
  --second-text-color: #99a8c9;

  --blue-color: #194cc2;
  --green-color: #2dc071;
  --orange-color: #f9693e;
  --dark-pink-color: #d251a9;
  --purple-color: #7f56d9;
  --red-color: #e74040;

  --ping-shadow-bg: linear-gradient(
    180deg,
    #191f2d 0%,
    rgba(254, 58, 225, 0.22) 100%
  );
  --input-bg: #191f2d;
  --button-shadow: 0px 4px 19px 0px #0000004d;
  --button-hover: rgb(255, 39, 68);
  --card-bg: #1c1a23;
  --navbar-bg: linear-gradient(180deg, #191f2d 0%, rgba(25, 31, 45, 0) 100%);
  --foter-bg: #0b0b0f33;

  --social-icon-bg: #cfcfcf;

  --login-bg: #191f2d33;
  --login-border: #ffffff9c;
  --disabled-element-color: #737373;

  --card-bg-100: #252b42;
  --card-bg-200: #26335d;
  --card-bg-300: #303f70;

  --card-border-op-10: #ffffff10;
  --card-border-op-20: #ffffff20;
  --card-border-op-30: #ffffff20;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Yekan-Bakh-FaN-Regular, Yekan-Bakh-En-Medium;
}

::-webkit-scrollbar {
  width: 0.5em;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.3);
  opacity: 0.3;
  border-radius: 10px;
}

#nprogress {
  z-index: 50;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
